#primary {
  padding: 1rem;

  & div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  & div:nth-child(2) {
    margin-inline: auto;
  }

  & div:nth-child(3) {
    justify-self: end;
  }
}
#secondary {
  padding-block: 0.875rem;
  border: solid 1px var(--stroke-color);
  border-inline: none;
  overflow-x: auto;
  gap: 2rem;

  & a {
    margin-left: 1rem;
  }
}

@media (width>=80em) {
  #primary {
    padding: 1.25rem 0;

    & div {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
  #secondary {
    justify-content: space-between;
    overflow-x: hidden;
    & a {
      margin-left: 0;
    }
  }
}
